<!DOCTYPE html>

<html lang="en">

<head>

  <title>TinyApp</title>

</head>

<body>

  <h1><a href="urls"><font hex color="#52467E">My Tiny App</font></a></h1>

  <%= username%>

<% if(!username) { %>

<form action="/login" method="POST">

      <input id="username" type="text" name="username" placeholder="username">

      <input type="submit" value="Sign in">

    </form>

<% } else { %>

  <form action="/logout" method="POST">

      <input type="submit" value="logout">

    </form>

<% } %>

</body>

</html>



