<!DOCTYPE html>

<html lang="en">

<head>

  <title>TinyApp</title>

</head>

<body>

  <h1><font face ="verdana" font hex color="#496cb0">My Tiny App</font></h1>

  <ul>
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Login</a></li>

</ul>

</body>

</html>



