<!DOCTYPE html>

<html lang="en">

  <head></head>

  <body>

    <% include partials/_header %>

<% if(!user) { %>

<form action="/login" method="POST" style="width:300px">

      <input placeholder="email" type="email" name="email">

      <input placeholder="password" type="password" name="password">

      <button type="submit"> Submit </button>


<% } else { %>

  <form action="/logout" method="POST">

      <input type="submit" value="logout">

    </form>

<% } %>

</body>
</html>
