<!DOCTYPE html>

<html lang="en">

<head>

  <title>TinyApp</title>

</head>

<body>

  <h1><font face ="verdana" font hex color="#496cb0">My Tiny App</font></h1>

<h4><font face ="verdana" font hex color="4E4F55">Register below!</font></h4>

<form action="/register" method="POST" style="width:300px">

      <input placeholder="email" type="email" name="email">

      <input placeholder="password" type="password" name="password">

      <button type="submit"> Submit </button>

    </form>

    <br>
    <br>
    <a href="/" target="_blank">Back to home page</a>

     </body>
</html>

