

<!DOCTYPE html>
<html lang="en">
<body>


<h1> Register here!</h1>

<form action="/register" method="POST" style="width:300px">

      <input placeholder="email" type="email" name="email">

      <input placeholder="password" type="password" name="password">

      <button type="submit"> Submit </button>

    </form>

    <br>
    <br>
    <a href="new/" target="_blank">Shorten your URL!</a>

     </body>
</html>

