
<!DOCTYPE html>
<html lang="en">
<body>
  <header><% include ./partials/_header %></header>

  <a href="/urls/new">Shorten your URL!</a>
  <br>
  <br>
  <br>

  <% if (user) { %>

      <% for ( var objkey in urls ) { %>

      <%=objkey%>

       <%=urls[objkey].longURL%>

<table style="width:60%">
  <tr>
    <th><form method="POST" action="/urls/<%=[objkey]%>/delete"> </th>
    <th><input type="submit" value = "delete">   <a href="/urls/<%=objkey%>">Edit</a></input></th>
  </tr>
  <tr>
  </form>
</table>


<% } %>

<%} else { %>

<p><a href = "login">Please login</a>  </p>

<% } %>

</body>
</html>