<!DOCTYPE html>
<html lang="en">
<body>
    <header><% include partials/_header %></header>
    <ul>
        <li>Short URL: <%=shortURL%> </li>
        <li>Long URL: <%=longURL%> </li>
    </ul>
<form action="/urls" method="POST" style="width:300px">
<!-- /<%=shortURL%> -->
      <input id="longURL" type="text" value="<%=longURL%>" name="longURL">

      <input type="submit" value="update">

    </form>
    <br>
    <br>
    <a href="/urls" >See your URLs!</a>
    <br>
    <a href="/urls/new" >Shorten your URL!</a>

 </body>
</html>