<!DOCTYPE html>
<html lang="en">
<body>
    <header><% include partials/_header %></header>
    <h1>Welcome to TinyApp!</h1>
     <h3><a href="/urls/new/" target="_blank">Enter your URL Here!</a></h3>
  </body>
  </html>
