<!DOCTYPE html>
<html lang="en">
<body>
    <header><% include partials/_header %></header>

      <h4>Please login to access shortened URLs.</h4>
      <h4> If you are not a current user of My Tiny App, please register.</h4>
    </p>
  </body>
  </html>
