

<!DOCTYPE html>
<html lang="en">
<body>
  <header><% include ./partials/_header %></header>

  <a href="/urls/new">Shorten your URL!</a>
  <br>
  <br>
  <br>

  <% if (user) { %>
     <% console.log(user) %>
      <% for ( var objkey in urls ) { %>
      <%=objkey%>
       <%=urls[objkey].longURL%>
      <form method="POST" action="/urls/<%=[objkey]%>/delete">
        <br>
      <input type="submit" value = "delete"></input>
      </form>
      <a href="/urls/<%=objkey%>">Edit</a>
<% } %>
<%} else { %>
<p><a href = "login">Please login</a>  </p>
<% } %>

</body>
</html>