
<!DOCTYPE html>
<html lang="en">
<body>
  <header><% include ./partials/_header %></header>

  <a href="/urls/new" target="_blank">Shorten your URL!</a>
  <br>
  <br>
  <br>

  <% if (user) { %>

      <% for ( var objkey in urls ) { %>

      <%=objkey%>

       <%=urls[objkey].longURL%>

      <form method="POST" action="/urls/<%=[objkey]%>/delete">

      <input type="submit" value = "delete"></input>

      </form>

      <a href="/urls/<%=objkey%>" target="_blank">Edit</a>

<% } %>

<%} else { %>

<p><a href = "login">Please login</a>  </p>

<% } %>

</body>
</html>